body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: roboto, Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #3860A5;
    font-size: 24px;
    color: white;
    align-items: center;
}

.header-links > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.introduction {
    display: flex;
    align-items: center;
    background-color: #DF4C58;
    color: white;
}

.intro-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30px;
}

.intro-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.band-members-section {
    display: flex;
    flex-direction: column;
}

.band-cards {
    display: flex;
}

.header > img {
    width: 100px;
    height: auto;
}

.intro-right > img {
    max-width: 60%;
    max-height: 60%;
    padding: 10px;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    background-color: white;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
}